@charset "utf-8";
	form
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 3px;
	position : absolute ;
	left : 91px;
	top : 234px;
	width : 433px;
	height : 268px;
	border-radius : 61px;
	-moz-border-radius : 61px;
	-webkit-border-radius : 61px;
}
